* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 200px;
    height: 100dvh;
    background-color: #fce8ef;
}

.homeSection,
.cartSection,
.contactUsSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

.homeSection img,
.cartSection img,
.contactUsSection img{
    width: 24px;
    height: 24px;
}

.mainHome{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.bannerHome{
    background-color: blueviolet;
    width: 100%;
    height: 220px;
}

.cardsHome{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: yellow;
    width: 100%;
    height: 220px;
}

.card{
    background-color: yellow;
}

.card img{
    width: 100%;
    aspect-ratio: 1 / 1;
}